<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Comissões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <h2>Total vendido</h2>
      <h1>R$ {{ total }}</h1>

      <h3>Comissão</h3>
      <p>R$ {{ comissao }}</p>

      <p *ngIf="falta > 0">
        Faltam R$ {{ falta }} para próxima meta
      </p>

      <p *ngIf="falta === 0">
        🎉 Meta máxima atingida!
      </p>

    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-input
      type="number"
      placeholder="Digite o valor da venda"
      [(ngModel)]="novaVenda">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="adicionarVenda()">
    Adicionar venda
  </ion-button>


<ion-list>
  <ion-list-header>
    Histórico de vendas
  </ion-list-header>

  <ion-item *ngFor="let venda of vendas">
    <ion-label>
      <h2>R$ {{ venda.valor }}</h2>
      <p>{{ venda.data }}</p>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>